

#board {
  margin-top: 15px;
  margin-bottom: 10px;

}

.box {
  border: 5px solid black;
  height: 150px;
  padding-top:10px;

}

.col-md-6.col-md-offset-3{
  font-size:80px;
  font-family:Helvetica;
  color:	black;
  text-align:center;

}


.player1ScoreBoard {
 color: #FE2E2E;
 font-size:20px;
 background-color:rgba(255, 255, 255, 0.8);

}

.player2ScoreBoard {
 color: #00BFFF;
 font-size:20px;
 background-color:rgba(255, 255, 255, 0.8);

}

#tictactitle {
  text-shadow: 1px 1px 4px yellow;
}

body {
  background:url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/16996130_10154935957263930_650257350991528250_n.jpg?oh=237107a0f04c65af0d2f02887fa2584c&oe=5924E20F);
  background-size: contain;
  background-position: bottom left;
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:white;

  }

.copyright {
  color:grey;
}

#X {
  font-family:courier;
  font-weight:bold;
  font-size: 80px;
  color:#FE2E2E;
}

#O {
  font-family:courier;
  font-weight:bold;
  font-size: 80px;
  color:#00BFFF;
}




.btn {
 text-align: center;
 background-color: #000000;
 border-color: black;


}
