

#board {
  margin-bottom: 10px;
  align: center;
}

#boardrow {
   margin-top: 8%;
}

#turn-label {
  font-size:20px;
}

.box {
  border: 5px solid black;
  width:200px;
  aspect-ratio: 1 / 1;
  text-align:center;
  display:block;
  background-color:grey;
}

.col-md-6.col-md-offset-3 {
  font-size:80px;
  font-family:Helvetica;
  color:	black;
  text-align:center;
}

.player1ScoreBoard {
 color: #FE2E2E;
 font-size:20px;
}

.player2ScoreBoard {
 color: #00BFFF;
 font-size:20px;
}

#game-title {
  text-shadow: 1px 1px 4px yellow;
}

body {
  /* background-image:url(); */
  background-size: contain;
  background-position: bottom left;
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:white;
}

.copyright {
  color:grey;
  margin-bottom:-200px;
  vertical-align: bottom;
}

#X {
  font-family:courier;
  font-weight:bold;
  font-size: 80px;
  color:#FE2E2E;
}

#O {
  font-family:courier;
  font-weight:bold;
  font-size: 80px;
  color:#00BFFF;
}

.btn-info {
 text-align: center;
 background-color: #000000;
 border-color: black;
}

.btn-danger {
 text-align: center;
 background-color: yellow;
 border-color: red;
 color: red;
}
